<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LogPath" value="C:\Logs\log.txt"/>
  </appSettings>

  <connectionStrings>
    <add name="BlaBlaMart"
     providerName="System.Data.SqlClient"
     connectionString=  
     "Server=(LocalDb)\MSSQLLocalDB;Database=BlaBlaMart;Trusted_Connection=True;"
    />
  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>